.address-bar {
    flex-grow: 1;
}

.address-bar > div:first-child {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.address-bar-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #8b949e;
}
